.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  background-color: #212224;
  padding: 30px;
}
.mylink{
  padding: 10px;
  text-decoration: none;
  margin-right: 30px;
  font-size: 15px;
  color:azure;
}

.mylink a, .mylink a:hover{
  text-decoration: none;
}
._login{
  background-color: aquamarine;
  flex-direction: column;
  }
